################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.config
/bin
/Logs
/Migrations
/obj
/authserver.pfx
/Dockerfile
/tempkey.jwk
/tempkey.rsa
/yarn.lock
